In [ ]:
print("hi")

hi

[link text](https://)# New section

In [ ]:
s[0]

't'

In [4]:
x=0
if x%2==0:
  print("even")
else:
  print("odd")

even

In [9]:
x=.1
if x>0:
  print("positive")
elif x<0:
  print("negative")
else:
  print("neither")

positive

In [11]:
for i in range(0,6):
  print("the number is {}.".format(i))

the number is 0.
the number is 1.
the number is 2.
the number is 3.
the number is 4.
the number is 5.

In [23]:
for i in range(0,6):
  if i in range(3,5):
    continue
  print("the number is {}.".format(i))

the number is 0.
the number is 1.
the number is 2.
the number is 5.

In [15]:
i=0
while i<6:
  print(i)
  i=i+1
print("end")

0
1
2
3
4
5
end

In [38]:
mylist=["First", "Second", "Third", 4, True]
print(mylist, len(mylist))
mylist.insert(1,"Added")
print(mylist, len(mylist))

['First', 'Second', 'Third', 4, True] 5
['First', 'Added', 'Second', 'Third', 4, True] 6

In [39]:
mylist=["First", "Second", "Third", 4, True]
print(mylist, len(mylist))
mylist.append("appended")
print(mylist, len(mylist))

['First', 'Second', 'Third', 4, True] 5
['First', 'Second', 'Third', 4, True, 'appended'] 6

In [46]:
mylist1=["First", "Second", "Third", 4, True]
print(mylist1, len(mylist1))
mylist2=["Second1", "Second2", "Second3"]
print(mylist2, len(mylist2))
mylist1.extend(mylist2)
print(mylist)
print(mylist1)
print(mylist2)
mylist1.remove("Second")
print(mylist1)
mylist1.pop()
print(mylist1)
mylist1.sort()
print(mylist)

['First', 'Second', 'Third', 4, True] 5
['Second1', 'Second2', 'Second3'] 3
None
['First', 'Second', 'Third', 4, True, 'Second1', 'Second2', 'Second3']
['Second1', 'Second2', 'Second3']
['First', 'Third', 4, True, 'Second1', 'Second2', 'Second3']
['First', 'Third', 4, True, 'Second1', 'Second2']

In [54]:
mylist1=["First", "Second", "Third", 4, True]
print(mylist1, len(mylist1))
mylist2=["Second1", "Second2", "Second3"]
print(mylist2, len(mylist2))
mylist = mylist1 + mylist2
print(mylist)

['First', 'Second', 'Third', 4, True] 5
['Second1', 'Second2', 'Second3'] 3
['First', 'Second', 'Third', 4, True, 'Second1', 'Second2', 'Second3']

In [61]:
mylist = [1, 2, 5, 6]
print(mylist)
element = input("input element")
elementnum=int(element)
if elementnum in mylist:
  print ("already taken")
else:
  mylist.append(elementnum)
  mylist.sort()
  for item in mylist:
    print (item)

[1, 2, 5, 6]
input element3
1
2
3
5
6

In [62]:
a=[1,2,3,4,5,6,7]
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [69]:
a=[1,2,3,4,5,6,7]
b=[i for i in a if i%2==0]
print(b)

[2, 4, 6]

In [72]:
t="Python"
u=[c.upper() for c in t]
print(u)

['P', 'Y', 'T', 'H', 'O', 'N']

In [77]:
mylist=[1,2,[10,20], 4, 5]
for i in mylist:
  print(i)
print(mylist[2][1])

1
2
[10, 20]
4
5

TypeError: ignored

In [80]:
matrix=[[1,2,3], [4,5,6], [7,8,9], [0]]
for i in matrix:
  print(i, len(i))

[1, 2, 3] 3
[4, 5, 6] 3
[7, 8, 9] 3
[0] 1

In [84]:
matrix=[[1,2,3], [4,5,6], [7,8,9], [10,11,12]]
rows=len(matrix)
#for i in matrix:
#  print(i, len(i))
for j in range (0,rows):
  print(matrix[j])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [86]:
matrix=[[1,2,3], [4,5,6], [7,8,9], [10,11,12]]
rows=len(matrix)
for i in range(0,rows):
  cols=len(matrix[i])
  for j in range(0,cols):
    print(matrix[i][j],end=" ")

1 2 3 4 5 6 7 8 9 10 11 12

In [53]:

mylist=["First", "Second", "Third", "Fourth", "Fifth", "Sixth"]
print(mylist)
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)
mylist.reverse()
print(mylist)

['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth']
['Fifth', 'First', 'Fourth', 'Second', 'Sixth', 'Third']
['Third', 'Sixth', 'Second', 'Fourth', 'First', 'Fifth']
['Fifth', 'First', 'Fourth', 'Second', 'Sixth', 'Third']

In [17]:

ivalue=0
tvalue=5
while ivalue<tvalue:
  print("ivalue is {}, which is less than {}".format(ivalue, tvalue))
  ivalue=ivalue+1

ivalue is 0, which is less than 5
ivalue is 1, which is less than 5
ivalue is 2, which is less than 5
ivalue is 3, which is less than 5
ivalue is 4, which is less than 5

In [18]:
ivalue=0
tvalue=5
while ivalue<tvalue:
  print("ivalue is", ivalue, "which is less than", tvalue)
  ivalue=ivalue+1

ivalue is 0 which is less than 5
ivalue is 1 which is less than 5
ivalue is 2 which is less than 5
ivalue is 3 which is less than 5
ivalue is 4 which is less than 5

In [19]:
colours=["red", "green", "blue"]
brands=["ford", "renault", "mercedes"]
for color in colours:
  for car in brands:
    print (color, car)

red ford
red renault
red mercedes
green ford
green renault
green mercedes
blue ford
blue renault
blue mercedes

In [20]:
for i in range(1,5):
  for j in range(1,11):
    print (i, "x", j, "is", i*j)

1 x 1 is 1
1 x 2 is 2
1 x 3 is 3
1 x 4 is 4
1 x 5 is 5
1 x 6 is 6
1 x 7 is 7
1 x 8 is 8
1 x 9 is 9
1 x 10 is 10
2 x 1 is 2
2 x 2 is 4
2 x 3 is 6
2 x 4 is 8
2 x 5 is 10
2 x 6 is 12
2 x 7 is 14
2 x 8 is 16
2 x 9 is 18
2 x 10 is 20
3 x 1 is 3
3 x 2 is 6
3 x 3 is 9
3 x 4 is 12
3 x 5 is 15
3 x 6 is 18
3 x 7 is 21
3 x 8 is 24
3 x 9 is 27
3 x 10 is 30
4 x 1 is 4
4 x 2 is 8
4 x 3 is 12
4 x 4 is 16
4 x 5 is 20
4 x 6 is 24
4 x 7 is 28
4 x 8 is 32
4 x 9 is 36
4 x 10 is 40